@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<iframe src="~/prueba.html" width="100%" height="600" frameborder="0" allowfullscreen allow="fullscreen"></iframe>

<p>Política de privacidad del sitio. (Agrega texto legal aquí si necesitas.)</p>
